@mixin carousel {
  position: relative;

  .carousel-img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }

  .previous {
    position: absolute;
    top: 35%;
    width: 68px;
    height: 112px;
    color: white;
    cursor: pointer;
  }

  .next {
    position: absolute;
    top: 35%;
    right: 0;
    width: 68px;
    height: 112px;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 599px) {
    .carousel-img {
      width: 335px;
      height: 255px !important;
    }
    .previous,
    .next {
      width: 38px;
      height: 38px;
    }
  }
}

.carousel {
  @include carousel;
}
