@mixin appartement-container {
  width: 100%;
  padding-top: 20px;
  .img-appartement {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }

  .appartement-title {
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
  }

  .appartement-location {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 7px;

    &:nth-child(5) {
      margin-right: 0;
    }
  }

  .red-star {
    color: #ff6060;
  }

  .grey-star {
    color: #e3e3e3;
  }

  .equipement,
  .description {
    width: 650px;
  }

  .equipement p {
    width: 250px;
  }

  .description {
    right: 0;
  }

  .host-name {
    font-size: 18px;
    color: #ff6060;
  }

  .appartement-resp {
    display: none;
  }

  @media (max-width: 599px) {
    .dropdown-container {
      flex-direction: column;
      width: 100%;

      .equipement {
        margin-bottom: 20px;
      }
    }
    .host-name {
      font-size: 12px;
      width: 51px;
    }
    .img-appartement {
      height: 255px;
    }

    .appartment-desktop {
      display: none;
    }

    .appartement-resp {
      display: block;
      .appartement-title {
        font-size: 18px;
      }

      .appartement-location {
        font-size: 14px;
      }
    }
    svg {
      width: 15px;
      height: 15px;
      margin-right: 3.5px;

      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }
}

.appartement-container {
  @include appartement-container;
}
