@mixin not-found-container {
  .not-found-text {
    font-size: 36px;
    color: #ff6060;
  }

  .not-found-title {
    font-size: 288px;
    font-weight: 700;
    color: #ff6060;
  }

  .link-notFound {
    color: #ff6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 182px;
    text-transform: none;
    margin-left: 0 !important;
    text-decoration: underline;
  }

  @media (max-width: 599px) {
    .not-found-title {
      font-size: 96px;
    }

    .not-found-text {
      font-size: 18px;
      text-align: center;
      width: 260px;
    }

    .link-notFound {
      font-size: 14px !important;
      margin-top: 133px;
    }
  }
}

.not-found-container {
  @include not-found-container;
}
